
:root {
    /* Primary Colors */
    --bc: #0c0c0d;
    --bc-gray: #0d0e10;
    --bc-purple: #1e2731;
    --bc-purple-darker: #181c23;
    --bc-nav-foot: #101317;
    --section: #0e0e10;
    --primary: #94c2e3;
    --secondary: #4888b5;
    /* Colors */
    --white: #ffffff;
    --black: #000000;
    --dark-blue: #1f2029;
    --extra-dark-blue: #13141a;
    --red: #da2c4d;
    --orange: #fd7e14;
    --yellow: #f8ab37;
    --warning: #ffc107;
    --green: #28a745;
    --light-green: #24e33a;
    --teal: #20c997;
    --cyan: #17a2b8;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --light-gray: #ebecf2;
    --bright-gray: #d9d5de;
    --gray: #6c757d;
    --gray-extra-dark: #343a40;
    --dark: #343a40;
    /* Minecraft Colors */
    --m-darkred: #aa0000;
    --m-red: #ff5555;
    --m-gold: #ffaa00;
    --m-yellow: #ffff55;
    --m-green: #55ff55;
    --m-darkgreen: #00aa00;
    --m-darkaqua: #00aaaa;
    --m-aqua: #55ffff;
    --m-blue: #94c2e3;
    --m-darkblue: #0000aa;
    --m-purple: #aa00aa;
    --m-pink: #ff55ff;
    --m-gray: #aaaaaa;
    --m-darkgray: #555555;
    /* Gradients */
    --gradient: linear-gradient(45deg, rgba(148,194,227,1) 0%, rgba(72,136,181,1) 100%);
    --gradient2: linear-gradient(45deg, rgba(148,194,227,1) 0%, rgba(72,136,181,1) 100%);
    /* Sizes */
    --heading: 3.4rem;
    --heading-medium: 2rem;
    --paragraph: 1.1rem;
    --button-large: 1.6rem;
    --button-small: 1.2rem;
    --button-smallest: 1rem;
    /* Fonts */
    --font-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-secondary: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --font-slim: "Roboto";
  }
  * {
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--font-main);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bc-gray);
    transition: background-color .2s ease-in-out;
  }
  main {
    min-height: 100vh;
  }
  footer {
    background-color: var(--bc);
  }
  /* Mafia */
  
  .jd-block{
    width:100%;
    height:calc(100vh - 0px);
    position:relative;
    margin-top:20px;
    overflow-y: 0
  }[
    class*='jd-col'
    ]
  {
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    background:#1a0505;
    position:absolute;
    left:0;
    top:0;
    visibility:hidden
  }
.jd-col-left{
  visibility:visible
}
.jd-box-gif{
  width:90px;
  height:155px;
  padding:5px;
  background:#520808;                                                                                                                                                                                                                                                                                                                                                              
  text-align:center;
  margin:0 5px 25px;
  position:relative
}
.jd-box-gif[name]:after{
  content:attr(name);
  width:80px;
  height:36px;
  line-height:36px;
  left:5px;
  top:5px;
  color:#FFBAED;
  font-size:.8em;
  text-transform:uppercase
}
.jd-box-gif img{
  width:80px;
  height:80px;
  margin-top:36px;
  overflow:hidden
}
.jd-img-gif img{
  width:80px;
  height:80px
}